<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ultra.dao.SaMapper">

	<select id="selectSaVOList" resultType="com.ultra.dao.vo.SaVO">
		select sa.id id,sa.name
		name from sw_sa sa
	</select>
</mapper>
